html{
 /*  font-size: 62.5%;  */
  /* 16px * 62.5 = 10px = 1rem */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
    padding-bottom: 25px;
    max-width: 1200px;
    margin: 0 auto;
    
}
.content{
    
    padding: 25px;
}
.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem ;
    justify-content: center;
    align-items: center;
}
.section-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    /* background: hsl(231deg 26% 14%); */
    
}
.section-desc{
    padding: 20px 20px 20px 20px;
}
.section-img{
  
}
.section-img img{
    /* max-width: 250px;
    max-height: 250px; */
    max-width: 29rem;
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}
.section-info{
    text-align: center;
    /* color: white; */
}
.section-link a{
    text-decoration: none;
    color:#fff;
    padding: 12px 25px 12px 25px;
    background: #1ABC9C;
    font-size: 13px;
    border-radius: 5px;
}
.clearfix {
    /* clear: both; */
    position: relative;
}

/* Post Screens  */ 
.BlogPost-container{
    background: #fff;
    width: 75%;
    margin : 25px auto auto auto;
    text-align: center;
    padding: 25px;
    position: relative;
}
.BlogPost-img img{
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
    
}
@media (max-width:600px){
    .BlogPost-container{
        width: 100%;
        height: 100%;
        margin: 0;
        
        
    }
}
